/* src/App.css */

.task-list {
  list-style-type: none;
  padding: 0;
}

.task-item {
  background: #f9f9f9;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-item.completed {
  text-decoration: line-through;
  color: #aaa;
}

.task-item h2 {
  margin: 0;
}

.task-item p {
  margin: 5px 0;
}
